// Reset styles
@import "base/_reset.scss";

// Import mixins
@import "base/_mixins.scss";

// Import variables
@import "base/_variables.scss";

/* Header ------------------------------------------------ */
@import "./layout/header";

main {
    /* Breadcrumbs ----------------------------------------- */
    $length: 40%;
    $length-color: #fff;

    @import "./layout/breadcrumbs";

    /* Popular Items ----------------------------------------- */
    section.pop-items {
        background-color: #F1EDEA;

        .wrapper {
            padding-top: to-rem(42px);
            padding-bottom: to-rem(77px);

            ul.breadcrumbs {
                li {
                    display: inline-block;
                    margin: 0 0.4rem;

                    a {
                        color: #84bc22;

                        &:hover {
                            color: lighten(#84bc22, 15%);
                        }
                    }
                }
            }

            h2 {
                padding: to-rem(15px) 0 to-rem(30px);
                text-align: center;
                position: relative;
                font-size: to-rem(48px);

                &::before {
                    position: absolute;
                    bottom: 50%;
                    right: 0;
                    content: "";
                    width: 35%;
                    height: 100%;
                    background-color: transparent;
                    border-bottom: 2px solid #fff;
                    opacity: 0.5;
                }

                &:after {
                    position: absolute;
                    top: 50%;
                    left: 0;
                    content: "";
                    width: 35%;
                    background-color: transparent;
                    border-bottom: 2px solid #fff;
                    opacity: 0.5;
                }
            }

            // Search form
            form {
                border-radius: $radius;
                padding: to-rem(20px) to-rem(30px);
                background-color: #fff;
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                justify-content: space-between;

                > * {
                    width: 26%;
                    margin: to-rem(15px) 0;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    * {
                        font-size: 1rem;
                    }

                    select, ul {
                        width: 80%;
                    }
                }

                select {
                    @extend %custom-select;

                    border-color: rgba(#45413e, 0.5);
                }

                .color ul {
                    display: flex;
                    justify-content: space-between;

                    li {
                        padding: 0.4rem;
                        border-radius: 50%;
                        border: 5px solid transparent;
                        cursor: pointer;
                        transition: all 0.3s ease;
                    }
                }
            }

            span.results {
                display: block;
                text-align: center;
                margin: to-rem(35px) 0 to-rem(25px);
                color: #45413e;
                line-height: 1.37;
            }

            //items
            @import "./layout/items";

            button#loadMore {
                @extend %btn;
                margin-top: to-rem(51px);
                padding: to-rem(10px) to-rem(90px);
                color: #84bc22;
                background-color: white;
                border-color: transparent;
                font-size: 0.8rem;
                &.enabled {
                    background-color: #84bc22;
                    color: white;
                    border-color: transparent;

                    &:hover {
                        color: #84bc22;
                        background-color: white;
                        border-color: #84bc22;
                    }
                }
            }
        }
    }

    /* Featured Products ------------------------------------- */
    section.feat-prod {
        background-color: #262a32;

        .wrapper {
            padding-top: to-rem(35px);
            padding-bottom: to-rem(64px);

            h2 {
                font-size: to-rem(40px);
                color: #fff;
                font-weight: bold;
            }

            p {
                font-size: to-rem(18px);
                color: #fff;
                font-weight: normal;
            }

            div.slider-arrows {
                div.arrows {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 50%;
                    margin: 0 auto;
                    padding: to-rem(35px);

                    * {
                        margin: 0 0.3rem;
                        color: #fff;
                    }

                    button {
                        background-color: lighten(#262a32, 8%);
                        font-size: 1rem;
                        border: none;
                        padding: to-rem(6px);
                        cursor: pointer;

                        &:hover {
                            background-color: lighten(#262a32, 15%);
                        }
                    }

                    div {
                        width: 45%;
                        height: 2px;
                        background-color: #fff;
                    }

                    p {
                        font-size: 1.4rem;
                        font-weight: bold;
                        font-style: italic;
                        letter-spacing: 2.5px;
                    }
                }
            }

            .items {
                position: relative;
                color: rgb(36, 15, 61);

                .screen {
                    width: 100%;
                    display: flex;
                    flex-wrap: nowrap;
                    justify-content: space-between;

                    // Slider interactivity
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    opacity: 0;
                    visibility: hidden;
                    transition: all 0.8s ease;

                    &.active {
                        position: relative;
                        opacity: 1;
                        visibility: visible;
                    }

                    .item {
                        width: 25% - 2 * 1%;
                        padding-bottom: 1.5rem;
                        background-color: #fff;
                        border-radius: $radius + 2px;
                        text-align: center;

                        .img {
                            height: to-rem(260px);
                            border-radius: $radius $radius 0 0;
                        }

                        h4.name {
                            width: 70%;
                            font-size: to-rem(18px);
                            margin: 1rem auto;
                            color: rgb(36, 15, 61);
                            font-weight: normal;
                        }

                        a {
                            color: #84bc22;
                            font-weight: bold;
                            font-size: to-rem(18px);
                        }
                    }
                }
            }
        }
    }
}

/* Footer ------------------------------------------------ */
@import "./layout/footer";
