* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.2;
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 14px;
  scroll-behavior: smooth;
}

@media (min-width: 1280px) {
  html {
    font-size: 1.09375vw;
  }
}

body {
  position: relative;
}

body.noscroll {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

@media (max-width: 1010px) {
  body {
    padding-top: 78px;
  }
}

@media (max-width: 850px) {
  body {
    padding-bottom: 53px;
  }
}

main {
  padding-top: to-rem(83px);
}

@media (max-width: 850px) {
  main {
    padding: 0;
  }
}

.wrapper {
  width: 91.4%;
  margin: 0 auto;
  text-align: center;
}

@media (max-width: 1280px) {
  .wrapper {
    width: 95%;
  }
}

section {
  overflow: hidden;
}

a, button, input[type="submit"] {
  display: inline-block;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.img {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
}

#signinForm input#login[type="submit"], main section.product .wrapper .sub-wrapper .overview .about .add > button, main section.product .wrapper .sub-wrapper .overview .about .share button, main section.pop-items a.toTop {
  text-transform: uppercase;
  font-size: to-rem(16px);
  padding: to-rem(8px) to-rem(20px);
  border-width: 0.15rem;
  border-style: solid;
  border-radius: 35px;
  cursor: pointer;
}

main section.product .wrapper .sub-wrapper .overview .about div.colorpick > select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  display: inline-block;
  border: 0.15rem solid #e8e2d6;
  border-radius: 35px;
  padding: 0.57143rem 1.42857rem;
  font-size: 1.14286rem;
  background-color: #fff;
  color: #45413e;
  text-transform: capitalize;
  cursor: pointer;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  background: url("../img/icons/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: 85% 50%;
  background-size: 0.6rem;
}

main section.product .wrapper .sub-wrapper .overview .about div.colorpick > select:hover {
  border-color: #84bc22;
}

main section.product .wrapper .sub-wrapper .overview .about .add > .amountpick button {
  display: inline-block;
  margin-right: 1.71429rem;
  position: relative;
}

main section.product .wrapper .sub-wrapper .overview .about .add > .amountpick button > input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  width: 100%;
  border: 0.15rem solid #e8e2d6;
  border-radius: 35px;
  padding: 0.57143rem 1.42857rem;
  font-size: 1.14286rem;
  background-color: #fff;
  color: #45413e;
  text-align: center;
}

main section.product .wrapper .sub-wrapper .overview .about .add > .amountpick button > input[type="number"]::-webkit-inner-spin-button, main section.product .wrapper .sub-wrapper .overview .about .add > .amountpick button > input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

main section.product .wrapper .sub-wrapper .overview .about .add > .amountpick button > button {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #999999;
  font-size: 1.28571rem;
  width: 1.42857rem;
  height: 1.42857rem;
  border-radius: 50%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

main section.product .wrapper .sub-wrapper .overview .about .add > .amountpick button > button:hover {
  background-color: #f1eee6;
}

main section.product .wrapper .sub-wrapper .overview .about .add > .amountpick button > button.minus {
  left: 15%;
}

main section.product .wrapper .sub-wrapper .overview .about .add > .amountpick button > button.plus {
  right: 15%;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 50;
  overflow: hidden;
  background-color: #000;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
}

#overlay.active {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.74);
  visibility: visible;
}

#signinForm {
  position: absolute;
  width: 40%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 200;
  background-color: white;
  padding: 3.57143rem;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  cursor: initial;
  text-align: center;
  border-radius: 10px;
}

#signinForm.active {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 1280px) {
  #signinForm {
    width: 50%;
  }
}

@media (max-width: 960px) {
  #signinForm {
    width: 60%;
  }
}

@media (max-width: 640px) {
  #signinForm {
    width: 80%;
    padding: 1.42857rem;
  }
}

#signinForm:after {
  content: "";
  display: table;
  clear: both;
}

#signinForm * {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#signinForm h3 {
  color: #45413e;
  font-size: 2.14286rem;
  margin-bottom: 3rem;
}

#signinForm label {
  color: #45413e;
  font-size: 1rem;
  margin-bottom: 1rem;
  float: left;
  display: inline-block;
}

#signinForm a {
  display: inline-block;
  color: #84bc22;
  font-size: 0.85714rem;
}

#signinForm a:hover {
  color: #9fdb36;
}

#signinForm .forgot:after {
  content: "";
  display: table;
  clear: both;
}

#signinForm .forgot > a {
  float: right;
}

#signinForm input[type="email"], #signinForm input[type="password"], #signinForm input[type="text"] {
  width: 100%;
  border: 0.15rem solid #d7d7d7;
  background-color: white;
  padding: 0.85714rem 1.42857rem;
  border-radius: 35px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#signinForm input[type="email"]:focus:invalid, #signinForm input[type="email"]:focus:empty, #signinForm input[type="password"]:focus:invalid, #signinForm input[type="password"]:focus:empty, #signinForm input[type="text"]:focus:invalid, #signinForm input[type="text"]:focus:empty {
  border-color: red;
}

#signinForm input[type="email"]:focus:valid, #signinForm input[type="password"]:focus:valid, #signinForm input[type="text"]:focus:valid {
  border-color: #84bc22;
}

#signinForm input[type="email"] {
  margin-bottom: 2.14286rem;
}

#signinForm .password {
  position: relative;
}

#signinForm .password span.showPassword {
  cursor: pointer;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 1rem;
}

#signinForm .password span.showPassword svg {
  color: #4f4e4c;
  width: 1.28571rem;
  height: 1.28571rem;
}

#signinForm input[type="submit"]#login {
  display: block;
  margin: 4.28571rem auto 1.57143rem;
  padding: 0.57143rem 5rem;
  border-color: transparent;
  color: white;
  background-color: #84bc22;
}

#signinForm input[type="submit"]#login:hover {
  color: #84bc22;
  border-color: #84bc22;
  background-color: transparent;
}

/* Header ------------------------------------------------ */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 60;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}

header > .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (max-width: 1010px) {
  header > .wrapper {
    padding-top: 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 850px) {
  header > .wrapper {
    padding: 1rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

header > .wrapper button#hamburger {
  background-color: transparent;
  border: none;
  margin-right: 1rem;
  width: 4.1rem;
  height: 4.1rem;
  font-size: 1.7rem;
  color: #45413e;
  cursor: pointer;
  display: none;
  position: relative;
}

header > .wrapper button#hamburger > span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
}

header > .wrapper button#hamburger > span.active {
  opacity: 1;
  visibility: visible;
}

header > .wrapper button#hamburger:hover {
  color: #84bc22;
}

@media (max-width: 850px) {
  header > .wrapper button#hamburger {
    display: block;
  }
}

header > .wrapper a.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

@media (max-width: 850px) {
  header > .wrapper a.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@media (max-width: 640px) {
  header > .wrapper a.logo {
    left: unset;
    right: 1rem;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
}

header > .wrapper a.logo img {
  width: 4.57143rem;
  height: 4.57143rem;
  margin-right: 5px;
}

header > .wrapper a.logo div h1 {
  font-size: 32px;
  font-size: 2.28571rem;
  letter-spacing: 6.33px;
  color: #011847;
}

header > .wrapper a.logo div h2 {
  font-size: 18px;
  font-size: 1.28571rem;
  color: #84bc22;
}

header > .wrapper nav > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

header > .wrapper nav > ul > li {
  display: inline-block;
  padding: 1.07143rem 1.42857rem 2.14286rem 1.42857rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (max-width: 1280px) {
  header > .wrapper nav > ul > li {
    padding: 1.07143rem 1.07143rem 2.14286rem 1.07143rem;
  }
}

@media (max-width: 480px) {
  header > .wrapper nav > ul > li {
    padding: 0.71429rem;
  }
}

header > .wrapper nav > ul > li:hover {
  color: #fff;
}

header > .wrapper nav > ul > li > h2 {
  width: 100%;
  font-size: 1rem;
}

@media (max-width: 850px) {
  header > .wrapper nav > ul > li > h2:hover {
    color: #84bc22;
  }
  header > .wrapper nav > ul > li > h2:hover > span.arrow-down {
    color: #84bc22;
  }
}

header > .wrapper nav > ul > li > h2 > span.arrow-down {
  font-size: 0.7rem;
  margin-left: 0.57143rem;
  color: #45413e;
  opacity: 0.7;
}

@media (max-width: 850px) {
  header > .wrapper nav > ul > li > h2 > span.arrow-down {
    margin-left: 0;
    float: right;
    color: white;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  header > .wrapper nav > ul > li > h2 > span.arrow-down.active {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    color: #84bc22;
  }
}

header > .wrapper nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: flex-end;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 1rem;
}

@media (max-width: 1280px) {
  header > .wrapper nav {
    -ms-grid-column-align: center;
        justify-self: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

header > .wrapper nav ul.nav-main {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media (max-width: 850px) {
  header > .wrapper nav ul.nav-main {
    position: absolute;
    top: 86px;
    left: 0;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    right: 0;
    padding-top: 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    background-color: #262a32;
    opacity: 0;
    visibility: hidden;
  }
  header > .wrapper nav ul.nav-main * {
    color: white;
  }
  header > .wrapper nav ul.nav-main.active {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
    visibility: visible;
  }
}

@media (max-width: 850px) and (max-width: 480px) {
  header > .wrapper nav ul.nav-main {
    padding-bottom: 1rem;
  }
}

header > .wrapper nav ul.nav-main > li {
  text-transform: uppercase;
  border-bottom: 0.35714rem solid transparent;
}

@media (min-width: 851px) {
  header > .wrapper nav ul.nav-main > li:hover {
    background-color: #262a32;
    border-bottom: 0.35714rem solid #84bc22;
  }
  header > .wrapper nav ul.nav-main > li:hover * {
    color: white;
  }
}

@media (max-width: 850px) {
  header > .wrapper nav ul.nav-main > li {
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    cursor: pointer;
  }
  header > .wrapper nav ul.nav-main > li > h2 {
    cursor: pointer;
  }
  header > .wrapper nav ul.nav-main > li > h2:hover, header > .wrapper nav ul.nav-main > li > h2 > span:hover {
    color: #84bc22;
  }
}

header > .wrapper nav ul.nav-main > li.menu-open {
  z-index: 20;
}

@media (max-width: 851px) {
  header > .wrapper nav ul.nav-main > li.menu-open:hover .menu {
    opacity: 1;
    visibility: visible;
  }
}

header > .wrapper nav ul.nav-main > li.menu-open .menu {
  background-color: #262a32;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  left: 0;
  right: 0;
  top: 5.92857rem;
  z-index: 50;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

@media (max-width: 1010px) {
  header > .wrapper nav ul.nav-main > li.menu-open .menu {
    top: 161px;
  }
}

@media (max-width: 850px) {
  header > .wrapper nav ul.nav-main > li.menu-open .menu {
    top: 0;
    z-index: 100;
    width: 100%;
  }
  header > .wrapper nav ul.nav-main > li.menu-open .menu.active {
    position: relative;
    opacity: 1;
    visibility: visible;
  }
}

header > .wrapper nav ul.nav-main > li.menu-open .menu > .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 2.14286rem;
  padding-bottom: 2.14286rem;
}

@media (max-width: 850px) {
  header > .wrapper nav ul.nav-main > li.menu-open .menu > .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1rem 0 1rem;
  }
}

@media (max-width: 480px) {
  header > .wrapper nav ul.nav-main > li.menu-open .menu > .wrapper {
    width: 100%;
  }
}

header > .wrapper nav ul.nav-main > li.menu-open .menu * {
  font-size: 1rem;
  color: #fff;
  text-align: left;
}

header > .wrapper nav ul.nav-main > li.menu-open .menu h3 {
  padding-bottom: 0.71429rem;
}

header > .wrapper nav ul.nav-main > li.menu-open .menu h3 > span.arrow-down {
  color: white;
  font-size: 0.7rem;
  float: right;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  opacity: 0;
}

@media (max-width: 850px) {
  header > .wrapper nav ul.nav-main > li.menu-open .menu h3 {
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  header > .wrapper nav ul.nav-main > li.menu-open .menu h3:hover {
    color: #84bc22;
  }
  header > .wrapper nav ul.nav-main > li.menu-open .menu h3:hover > span {
    color: #84bc22;
  }
  header > .wrapper nav ul.nav-main > li.menu-open .menu h3 span.arrow-down {
    opacity: 0.7;
  }
  header > .wrapper nav ul.nav-main > li.menu-open .menu h3 span.arrow-down.active {
    color: #84bc22;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

header > .wrapper nav ul.nav-main > li.menu-open .menu li {
  padding: 0.42857rem 0;
  text-transform: capitalize;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

header > .wrapper nav ul.nav-main > li.menu-open .menu li:hover a {
  color: #84bc22;
}

header > .wrapper nav ul.nav-main > li.menu-open .menu .prod-cat {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 850px) {
  header > .wrapper nav ul.nav-main > li.menu-open .menu .prod-cat {
    width: 100%;
    padding: 0.5rem;
  }
}

header > .wrapper nav ul.nav-main > li.menu-open .menu .prod-cat > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 850px) {
  header > .wrapper nav ul.nav-main > li.menu-open .menu .prod-cat > div {
    padding: 0 1rem;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: 0;
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
    right: 0;
    top: 0;
    z-index: 70;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  header > .wrapper nav ul.nav-main > li.menu-open .menu .prod-cat > div.active {
    position: relative;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
}

@media (max-width: 480px) {
  header > .wrapper nav ul.nav-main > li.menu-open .menu .prod-cat > div {
    padding: 0;
  }
}

header > .wrapper nav ul.nav-main > li.menu-open .menu .sale {
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 850px) {
  header > .wrapper nav ul.nav-main > li.menu-open .menu .sale {
    width: 100%;
    padding: 0.5rem;
  }
}

@media (max-width: 850px) {
  header > .wrapper nav ul.nav-main > li.menu-open .menu .sale > ul {
    padding: 0 1rem;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: 0;
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
    right: 0;
    top: 0;
    z-index: 70;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  header > .wrapper nav ul.nav-main > li.menu-open .menu .sale > ul.active {
    position: relative;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
}

@media (max-width: 480px) {
  header > .wrapper nav ul.nav-main > li.menu-open .menu .sale > ul {
    padding: 0;
  }
}

header > .wrapper nav ul.nav-main > li.menu-open .menu .sale img {
  width: 30%;
  height: 100%;
  border-radius: 10px;
}

@media (max-width: 850px) {
  header > .wrapper nav ul.nav-main > li.menu-open .menu .sale img {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 60%;
  }
}

@media (max-width: 480px) {
  header > .wrapper nav ul.nav-main > li.menu-open .menu .sale img {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 80%;
  }
}

header > .wrapper nav ul.nav-lang {
  margin-right: 3.57143rem;
}

@media (max-width: 1280px) {
  header > .wrapper nav ul.nav-lang {
    margin-right: 0;
  }
}

@media (max-width: 850px) {
  header > .wrapper nav ul.nav-lang {
    display: none;
  }
}

header > .wrapper nav ul.nav-lang * {
  color: #45413e;
}

header > .wrapper nav ul.nav-lang > li {
  border-bottom: 5px solid transparent;
  color: rgba(69, 65, 62, 0.5);
}

header > .wrapper nav ul.nav-lang > li:hover {
  color: #fff;
  background-color: #262a32;
  border-bottom: 5px solid #84bc22;
}

header > .wrapper nav ul.nav-lang > li:hover * {
  color: #fff;
}

header > .wrapper nav ul.nav-lang > li.lang-open, header > .wrapper nav ul.nav-lang > li.currency-open {
  z-index: 20;
}

header > .wrapper nav ul.nav-lang > li.lang-open .lang-menu, header > .wrapper nav ul.nav-lang > li.lang-open .currency-menu, header > .wrapper nav ul.nav-lang > li.currency-open .lang-menu, header > .wrapper nav ul.nav-lang > li.currency-open .currency-menu {
  background-color: #262a32;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  top: 5.92857rem;
  z-index: 10;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

@media (max-width: 1010px) {
  header > .wrapper nav ul.nav-lang > li.lang-open .lang-menu, header > .wrapper nav ul.nav-lang > li.lang-open .currency-menu, header > .wrapper nav ul.nav-lang > li.currency-open .lang-menu, header > .wrapper nav ul.nav-lang > li.currency-open .currency-menu {
    top: 161px;
  }
}

header > .wrapper nav ul.nav-lang > li.lang-open .lang-menu li, header > .wrapper nav ul.nav-lang > li.lang-open .currency-menu li, header > .wrapper nav ul.nav-lang > li.currency-open .lang-menu li, header > .wrapper nav ul.nav-lang > li.currency-open .currency-menu li {
  padding: 0.42857rem 0;
  text-transform: capitalize;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: pointer;
}

header > .wrapper nav ul.nav-lang > li.lang-open .lang-menu li:hover, header > .wrapper nav ul.nav-lang > li.lang-open .currency-menu li:hover, header > .wrapper nav ul.nav-lang > li.currency-open .lang-menu li:hover, header > .wrapper nav ul.nav-lang > li.currency-open .currency-menu li:hover {
  opacity: 0.6;
}

header > .wrapper nav ul.nav-lang > li.lang-open .lang-menu, header > .wrapper nav ul.nav-lang > li.currency-open .lang-menu {
  width: 5.57143rem;
  -webkit-transform: translateX(-1.28571rem);
          transform: translateX(-1.28571rem);
}

header > .wrapper nav ul.nav-lang > li.lang-open .currency-menu, header > .wrapper nav ul.nav-lang > li.currency-open .currency-menu {
  width: 9.28571rem;
  -webkit-transform: translateX(-30%);
          transform: translateX(-30%);
}

header > .wrapper nav ul.nav-lang > li.lang-open:hover .lang-menu {
  opacity: 1;
  visibility: visible;
}

header > .wrapper nav ul.nav-lang > li.currency-open:hover .currency-menu {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 850px) {
  header > .wrapper nav ul.nav-manage {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 20;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #262a32;
  }
}

@media (max-width: 850px) {
  header > .wrapper nav ul.nav-manage > li {
    padding: 0;
  }
}

header > .wrapper nav ul.nav-manage > li button, header > .wrapper nav ul.nav-manage > li a {
  background-color: transparent;
  border: none;
  position: relative;
  cursor: pointer;
}

@media (max-width: 850px) {
  header > .wrapper nav ul.nav-manage > li button, header > .wrapper nav ul.nav-manage > li a {
    padding: 1.42857rem;
  }
}

header > .wrapper nav ul.nav-manage > li button svg, header > .wrapper nav ul.nav-manage > li a svg {
  color: #45413e;
  opacity: 0.5;
  font-size: 1.7rem;
}

@media (max-width: 850px) {
  header > .wrapper nav ul.nav-manage > li button svg, header > .wrapper nav ul.nav-manage > li a svg {
    color: white;
  }
}

header > .wrapper nav ul.nav-manage > li button svg path, header > .wrapper nav ul.nav-manage > li a svg path {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

header > .wrapper nav ul.nav-manage > li button svg:hover path, header > .wrapper nav ul.nav-manage > li a svg:hover path {
  color: #84bc22;
}

header > .wrapper nav ul.nav-manage > li button#wishlist > span, header > .wrapper nav ul.nav-manage > li button#cart > span, header > .wrapper nav ul.nav-manage > li a#wishlist > span, header > .wrapper nav ul.nav-manage > li a#cart > span {
  position: absolute;
  display: inline-block;
  top: -40%;
  right: -65%;
  font-size: 0.7rem;
  color: #84bc22;
  background-color: white;
  border: 0.15rem solid #84bc22;
  padding: 0.21429rem 0.42857rem;
  border-radius: 50%;
  z-index: 15;
}

@media (max-width: 850px) {
  header > .wrapper nav ul.nav-manage > li button#wishlist > span, header > .wrapper nav ul.nav-manage > li button#cart > span, header > .wrapper nav ul.nav-manage > li a#wishlist > span, header > .wrapper nav ul.nav-manage > li a#cart > span {
    top: 15%;
    right: 15%;
    background-color: transparent;
  }
}

main {
  /* Breadcrumbs ----------------------------------------- */
  /* Product ----------------------------------------- */
  /* Popular Items ----------------------------------------- */
  /* Benefits ---------------------------------------------- */
}

main section.breadcrumbs {
  background-color: #F1EDEA;
}

main section.breadcrumbs .wrapper {
  padding-top: 3.57143rem;
  padding-bottom: 2.14286rem;
}

@media (max-width: 850px) {
  main section.breadcrumbs .wrapper {
    padding-top: 2.5rem;
    padding-bottom: 1.07143rem;
  }
}

main section.breadcrumbs .wrapper > ul li {
  display: inline-block;
  margin: 0 0.4rem;
}

main section.breadcrumbs .wrapper > ul li a {
  color: #84bc22;
}

main section.breadcrumbs .wrapper > ul li a:hover {
  color: #a9df4c;
}

main section.breadcrumbs .wrapper h2 {
  padding: 1.07143rem 0 1.42857rem;
  text-align: center;
  position: relative;
  font-size: 3.21429rem;
  color: #332d2d;
}

@media (max-width: 640px) {
  main section.breadcrumbs .wrapper h2 {
    font-size: 2.14286rem;
  }
}

main section.breadcrumbs .wrapper h2:before {
  position: absolute;
  bottom: 50%;
  right: 0;
  content: "";
  width: 20%;
  background-color: transparent;
  border-bottom: 0.15rem solid #e5e2df;
}

@media (max-width: 1050px) {
  main section.breadcrumbs .wrapper h2:before {
    width: 18%;
  }
}

@media (max-width: 500px) {
  main section.breadcrumbs .wrapper h2:before {
    width: 16%;
  }
}

main section.breadcrumbs .wrapper h2:after {
  position: absolute;
  top: 50%;
  left: 0;
  content: "";
  width: 20%;
  background-color: transparent;
  border-bottom: 0.15rem solid #e5e2df;
}

@media (max-width: 1050px) {
  main section.breadcrumbs .wrapper h2:after {
    width: 18%;
  }
}

@media (max-width: 500px) {
  main section.breadcrumbs .wrapper h2:after {
    width: 16%;
  }
}

main section.product .wrapper {
  background-color: #F1EDEA;
}

main section.product .wrapper .sub-wrapper {
  background-color: #fff;
  border-radius: 10px;
}

main section.product .wrapper .sub-wrapper .overview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: relative;
}

@media (max-width: 850px) {
  main section.product .wrapper .sub-wrapper .overview {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

main section.product .wrapper .sub-wrapper .overview > svg {
  font-size: 1.57143rem;
  position: absolute;
  top: 2.42857rem;
  left: 2rem;
  z-index: 10;
}

main section.product .wrapper .sub-wrapper .overview > svg path {
  fill: #84bc22;
}

@media (max-width: 850px) {
  main section.product .wrapper .sub-wrapper .overview > svg {
    left: 30%;
  }
}

main section.product .wrapper .sub-wrapper .overview .large {
  width: 50%;
  padding: 1rem;
}

main section.product .wrapper .sub-wrapper .overview .large img {
  width: 100%;
  cursor: pointer;
  -webkit-transition: opacity 0.7s ease;
  transition: opacity 0.7s ease;
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

main section.product .wrapper .sub-wrapper .overview .large img.active {
  position: relative;
  opacity: 1;
  visibility: visible;
}

main section.product .wrapper .sub-wrapper .overview .large img.active:hover {
  opacity: 0.7;
}

main section.product .wrapper .sub-wrapper .overview .large img.full {
  position: absolute;
  opacity: 1;
  visibility: visible;
  z-index: 110;
  width: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

main section.product .wrapper .sub-wrapper .overview .large img.full:hover {
  opacity: 1;
}

main section.product .wrapper .sub-wrapper .overview .small {
  width: 10%;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

main section.product .wrapper .sub-wrapper .overview .small img {
  width: 5rem;
  height: 5rem;
  border: solid 1px #45413e;
  margin: 1rem 0;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

main section.product .wrapper .sub-wrapper .overview .small img:hover {
  opacity: 0.5;
  border: solid 1px #84bc22;
}

main section.product .wrapper .sub-wrapper .overview .small img.active {
  opacity: 0.5;
  border: solid 1px #84bc22;
}

@media (max-width: 850px) {
  main section.product .wrapper .sub-wrapper .overview .small {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main section.product .wrapper .sub-wrapper .overview .small > img {
    margin: 0 1rem;
  }
}

main section.product .wrapper .sub-wrapper .overview .about {
  width: 40%;
  padding: 3rem 2rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main section.product .wrapper .sub-wrapper .overview .about span.price {
  font-size: 3.42857rem;
  margin-bottom: 2.85714rem;
}

@media (max-width: 850px) {
  main section.product .wrapper .sub-wrapper .overview .about {
    width: 90%;
    padding: 2rem;
  }
  main section.product .wrapper .sub-wrapper .overview .about > span.price {
    margin-bottom: 1rem;
  }
}

@media (max-width: 850px) and (max-width: 500px) {
  main section.product .wrapper .sub-wrapper .overview .about {
    width: 100%;
  }
}

main section.product .wrapper .sub-wrapper .overview .about div.colorpick {
  display: inline-block;
  width: 100%;
  margin-bottom: 1.71429rem;
  position: relative;
  text-align: left;
}

main section.product .wrapper .sub-wrapper .overview .about div.colorpick > select {
  padding: 0.57143rem 1.42857rem 0.57143rem 3.21429rem;
  min-width: 42%;
}

main section.product .wrapper .sub-wrapper .overview .about div.colorpick > ul {
  display: inline-block;
  position: absolute;
  top: 20%;
  left: 0.78571rem;
}

main section.product .wrapper .sub-wrapper .overview .about div.colorpick > ul > li {
  display: inline-block;
  position: absolute;
  background-color: #ddd;
  padding: 0.85714rem;
  border-radius: 50%;
  opacity: 0;
  visibility: hidden;
}

main section.product .wrapper .sub-wrapper .overview .about div.colorpick > ul > li.active {
  opacity: 1;
  visibility: visible;
}

main section.product .wrapper .sub-wrapper .overview .about .add {
  width: 100%;
  margin-bottom: 3.42857rem;
  text-align: left;
}

main section.product .wrapper .sub-wrapper .overview .about .add > .amountpick button {
  width: 30%;
  display: block;
  background-color: transparent;
  border: none;
  color: #84bc22;
  font-size: 1.14286rem;
  text-align: center;
  cursor: pointer;
  margin: 1.71429rem 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

main section.product .wrapper .sub-wrapper .overview .about .add > .amountpick button:hover {
  text-decoration: underline;
}

main section.product .wrapper .sub-wrapper .overview .about .add > button {
  min-width: 42%;
  border-color: #e8e2d6;
  color: #fff;
  background-color: #84bc22;
}

main section.product .wrapper .sub-wrapper .overview .about .add > button:hover {
  background-color: transparent;
  color: #84bc22;
  border-color: #84bc22;
}

main section.product .wrapper .sub-wrapper .overview .about p {
  text-align: left;
  color: #45413e;
  line-height: 1.5;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  overflow: hidden;
}

main section.product .wrapper .sub-wrapper .overview .about .share {
  width: 100%;
  text-align: left;
}

main section.product .wrapper .sub-wrapper .overview .about .share button {
  min-width: 42%;
  border-color: #e8e2d6;
  color: #fff;
  margin-bottom: 1.71429rem;
  background-color: #84bc22;
}

main section.product .wrapper .sub-wrapper .overview .about .share button:hover {
  background-color: transparent;
  color: #84bc22;
  border-color: #84bc22;
}

main section.product .wrapper .sub-wrapper .overview .about .share ul li {
  display: inline-block;
  margin: 0 0.85714rem;
}

main section.product .wrapper .sub-wrapper .overview .about .share ul li span {
  display: inline-block;
  color: #45413e;
  opacity: 0.5;
  margin-right: 2.21429rem;
}

main section.product .wrapper .sub-wrapper .overview .about .share ul li a svg {
  color: #45413e;
  opacity: 0.5;
  font-size: 1.2rem;
}

main section.product .wrapper .sub-wrapper .overview .about .share ul li a svg path {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

main section.product .wrapper .sub-wrapper .overview .about .share ul li a svg:hover path {
  color: #84bc22;
}

main section.product .wrapper .sub-wrapper .info {
  margin-top: 5rem;
}

@media (max-width: 960px) {
  main section.product .wrapper .sub-wrapper .info {
    margin-top: 2.14286rem;
  }
}

@media (max-width: 680px) {
  main section.product .wrapper .sub-wrapper .info {
    display: none;
  }
}

main section.product .wrapper .sub-wrapper .info > ul {
  text-align: center;
}

main section.product .wrapper .sub-wrapper .info > ul li {
  display: inline-block;
  margin: 0 1rem;
  padding: 1.5rem 3rem;
  font-size: 1.71429rem;
  border-radius: 2rem 2rem 0 0;
  color: #bdc3c7;
  background-color: inherit;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: pointer;
}

main section.product .wrapper .sub-wrapper .info > ul li:hover {
  color: #fff;
  background-color: #262a32;
}

main section.product .wrapper .sub-wrapper .info > ul li.active {
  color: #fff;
  background-color: #262a32;
}

@media (max-width: 960px) {
  main section.product .wrapper .sub-wrapper .info > ul li {
    padding: 1rem 2rem;
    font-size: 1.28571rem;
  }
}

main section.product .wrapper .sub-wrapper .info .tab-box {
  background-color: #262a32;
  position: relative;
}

main section.product .wrapper .sub-wrapper .info .tab-box .tab {
  height: 25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 5rem;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

@media (max-width: 960px) {
  main section.product .wrapper .sub-wrapper .info .tab-box .tab {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 2.14286rem;
  }
}

main section.product .wrapper .sub-wrapper .info .tab-box .tab p {
  width: 48%;
  color: #fff;
  margin-bottom: 2rem;
  text-align: left;
  font-size: 1.14286rem;
  line-height: 1.5;
}

@media (max-width: 960px) {
  main section.product .wrapper .sub-wrapper .info .tab-box .tab p {
    width: 40%;
  }
}

main section.product .wrapper .sub-wrapper .info .tab-box .tab.active {
  position: relative;
  visibility: visible;
  opacity: 1;
}

main section.pop-items {
  background-color: #F1EDEA;
}

main section.pop-items .wrapper {
  padding-top: 1.42857rem;
  padding-bottom: 3.57143rem;
}

main section.pop-items .wrapper h2 {
  font-size: 1.71429rem;
  padding: 1.78571rem 0;
  text-align: center;
  text-transform: uppercase;
  position: relative;
}

main section.pop-items .wrapper h2::before {
  position: absolute;
  bottom: 50%;
  right: 0;
  content: "";
  width: 40%;
  height: 100%;
  background-color: inherit;
  border-bottom: 0.15rem solid #e5e2df;
}

main section.pop-items .wrapper h2:after {
  position: absolute;
  top: 50%;
  left: 0;
  content: "";
  width: 40%;
  background-color: inherit;
  border-bottom: 0.15rem solid #e5e2df;
}

@media (max-width: 1050px) {
  main section.pop-items .wrapper h2:before, main section.pop-items .wrapper h2:after {
    width: 30%;
  }
}

@media (max-width: 600px) {
  main section.pop-items .wrapper h2:before, main section.pop-items .wrapper h2:after {
    width: 20%;
  }
}

main section.pop-items .wrapper .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -1%;
  color: #240f3d;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

main section.pop-items .wrapper .items .item {
  width: 23%;
  margin: 1%;
  padding-bottom: 1rem;
  background-color: #fff;
  border-radius: 12px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

main section.pop-items .wrapper .items .item:hover .overlay {
  opacity: 0.9;
  visibility: visible;
}

main section.pop-items .wrapper .items .item .img {
  height: 18.57143rem;
  border-radius: 10px 10px 0 0;
}

main section.pop-items .wrapper .items .item > a {
  width: 100%;
  height: 18.57143rem;
  border-radius: 10px 10px 0 0;
}

main section.pop-items .wrapper .items .item h4.name {
  font-size: 1.28571rem;
  width: 90%;
  margin: 1rem auto;
  font-weight: normal;
}

main section.pop-items .wrapper .items .item span {
  display: inline-block;
  font-size: 1.28571rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

main section.pop-items .wrapper .items .item .paired {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  font-weight: bold;
}

main section.pop-items .wrapper .items .item .paired span {
  margin: 0;
  padding: 0.71429rem 1.21429rem;
  border: 3px groove black;
  border-radius: 30px 0 0 30px;
  border-right: none;
}

main section.pop-items .wrapper .items .item .paired span a {
  color: #24c36c;
}

main section.pop-items .wrapper .items .item .paired button {
  padding: 0.71429rem 1.21429rem;
  border: 3px groove black;
  border-radius: 0 30px 30px 0;
  color: #000;
  font-size: 1rem;
  background-color: transparent;
  cursor: pointer;
  text-transform: uppercase;
}

main section.pop-items .wrapper .items .item .paired button:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#1cc167), to(#2ed3a2));
  background: linear-gradient(to top, #1cc167, #2ed3a2);
  color: #fff;
}

main section.pop-items .wrapper .items .item .paired button a {
  color: #24c36c;
}

main section.pop-items .wrapper .items .item .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(#1cc167), to(#2ed3a2));
  background: linear-gradient(to top, #1cc167, #2ed3a2);
  border-radius: inherit;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

main section.pop-items .wrapper .items .item .overlay button {
  position: absolute;
  top: 50%;
  background-color: white;
  padding: 2.21429rem;
  border-radius: 100%;
  border: 1px solid white;
  cursor: pointer;
}

main section.pop-items .wrapper .items .item .overlay button:hover {
  background-color: #f2f2f2;
  -webkit-box-shadow: 0 0 20px #0f6837;
          box-shadow: 0 0 20px #0f6837;
}

main section.pop-items .wrapper .items .item .overlay button.addToCart {
  left: 15%;
  -webkit-transform: translate(-15%, -50%);
          transform: translate(-15%, -50%);
}

main section.pop-items .wrapper .items .item .overlay button.addToWishlist {
  right: 15%;
  -webkit-transform: translate(15%, -50%);
          transform: translate(15%, -50%);
}

main section.pop-items .wrapper .items .item .overlay button img {
  background-color: transparent;
  width: 2rem;
  height: 2rem;
}

main section.pop-items .wrapper .items .item.com {
  padding-bottom: 0;
}

main section.pop-items .wrapper .items .item.com .img {
  height: 100%;
  border-radius: 10px;
}

main section.pop-items .wrapper .items .item.com .com-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(#675b99), to(#dc5987));
  background: linear-gradient(to top, #675b99, #dc5987);
  border-radius: inherit;
  opacity: 0.8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 2.5rem 2.14286rem;
  text-align: left;
}

main section.pop-items .wrapper .items .item.com .com-overlay * {
  color: white;
}

main section.pop-items .wrapper .items .item.com .com-overlay blockquote {
  width: 70%;
  font-size: 1.14286rem;
  line-height: 1.5;
}

main section.pop-items .wrapper .items .item.com .com-overlay blockquote p {
  margin-top: 2.14286rem;
  font-size: 1rem;
  text-transform: uppercase;
}

main section.pop-items .wrapper .items .item.com .com-overlay blockquote p img {
  margin: 0 0.7rem;
  -webkit-transform: scale(1.8);
          transform: scale(1.8);
}

@media (max-width: 850px) {
  main section.pop-items .wrapper .items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main section.pop-items .wrapper .items .item {
    width: 46%;
    margin: 1.5rem;
  }
}

@media (max-width: 850px) {
  main section.pop-items .wrapper .items .item {
    width: 80%;
  }
}

@media (max-width: 440px) {
  main section.pop-items .items {
    min-height: 30rem;
  }
  main section.pop-items .items .item {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.8s ease;
    transition: opacity 0.8s ease;
  }
  main section.pop-items .items .item.active {
    position: relative;
    opacity: 1;
    visibility: visible;
  }
}

main section.pop-items ul.future-dots {
  display: none;
  margin-top: 1.42857rem;
  padding: 1rem;
}

main section.pop-items ul.future-dots > li {
  display: inline-block;
  margin: 0 0.5rem;
  padding: 0.25rem;
  background-color: #262a32;
  border-radius: 50%;
  border: 0.25rem solid transparent;
  cursor: pointer;
  opacity: 0.5;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

main section.pop-items ul.future-dots > li:hover {
  opacity: 1;
}

main section.pop-items ul.future-dots > li.active {
  opacity: 1;
  background-color: white;
  border: solid 0.25rem #262a32;
}

@media (max-width: 440px) {
  main section.pop-items ul.future-dots {
    display: block;
  }
}

main section.pop-items a.toTop {
  margin-top: 3rem;
  border-color: #e8e2d6;
  color: white;
  background-color: #84bc22;
  display: none;
}

main section.pop-items a.toTop:hover {
  background-color: white;
  color: #84bc22;
  border-color: #84bc22;
}

@media (max-width: 500px) {
  main section.pop-items a.toTop {
    display: inline-block;
  }
}

main section.benefits {
  background-color: #45413e;
}

main section.benefits .wrapper {
  padding: 3.21429rem 0 3.21429rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 710px) {
  main section.benefits .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1.42857rem 0 1.42857rem;
  }
}

main section.benefits .wrapper div.card {
  width: 27%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 960px) {
  main section.benefits .wrapper div.card {
    width: 32%;
  }
}

@media (max-width: 710px) {
  main section.benefits .wrapper div.card {
    width: 100%;
    padding: 1.5rem 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main section.benefits .wrapper div.card:nth-child(2) > img {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 0 0 0 1rem;
  }
}

@media (max-width: 710px) and (max-width: 450px) {
  main section.benefits .wrapper div.card:nth-child(2) > img {
    margin-left: 0 1rem 0 2rem;
  }
}

@media (max-width: 710px) {
  main section.benefits .wrapper div.card:nth-child(2) > div.info {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

main section.benefits .wrapper div.card img {
  width: 12.14286rem;
  margin-right: 2.5rem;
}

@media (max-width: 960px) {
  main section.benefits .wrapper div.card img {
    width: 8rem;
    margin-right: 1rem;
  }
}

@media (max-width: 710px) {
  main section.benefits .wrapper div.card img {
    width: 5rem;
  }
}

@media (max-width: 450px) {
  main section.benefits .wrapper div.card img {
    margin: 0 2rem 0 1rem;
  }
}

main section.benefits .wrapper div.card h4 {
  margin-bottom: 1.64286rem;
  text-transform: uppercase;
  color: #fff;
  text-align: left;
}

@media (max-width: 710px) {
  main section.benefits .wrapper div.card h4 {
    margin-bottom: 0.8rem;
  }
}

main section.benefits .wrapper div.card p {
  color: gray;
  text-align: left;
}

/* Footer ------------------------------------------------ */
footer .wrapper {
  padding-top: 2.28571rem;
  padding-bottom: 2.71429rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 850px) {
  footer .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .wrapper > div.contact, footer .wrapper div.categories, footer .wrapper div.about {
    width: 100%;
    position: relative;
    margin-bottom: 1rem;
  }
  footer .wrapper > div.contact.contact, footer .wrapper div.categories.contact, footer .wrapper div.about.contact {
    margin-bottom: 2rem;
  }
  footer .wrapper > div.contact ul.contact-menu, footer .wrapper > div.contact div.categories-menu, footer .wrapper > div.contact ul.about-menu, footer .wrapper div.categories ul.contact-menu, footer .wrapper div.categories div.categories-menu, footer .wrapper div.categories ul.about-menu, footer .wrapper div.about ul.contact-menu, footer .wrapper div.about div.categories-menu, footer .wrapper div.about ul.about-menu {
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
            transition-timing-function: ease;
    position: absolute;
    top: 1rem;
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
    opacity: 0;
    visibility: hidden;
  }
  footer .wrapper > div.contact ul.contact-menu.active, footer .wrapper > div.contact div.categories-menu.active, footer .wrapper > div.contact ul.about-menu.active, footer .wrapper div.categories ul.contact-menu.active, footer .wrapper div.categories div.categories-menu.active, footer .wrapper div.categories ul.about-menu.active, footer .wrapper div.about ul.contact-menu.active, footer .wrapper div.about div.categories-menu.active, footer .wrapper div.about ul.about-menu.active {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    position: relative;
    opacity: 1;
    visibility: visible;
  }
}

footer .wrapper * {
  text-align: left;
  font-size: 0.92857rem;
  color: #45413e;
}

footer .wrapper h3 {
  text-transform: uppercase;
  color: #000;
  font-weight: bold;
  margin-bottom: 2rem;
}

footer .wrapper h3 span.arrow-down {
  color: #262a32;
  font-size: 0.9rem;
  float: right;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  opacity: 0;
}

@media (max-width: 850px) {
  footer .wrapper h3 {
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  footer .wrapper h3:hover {
    color: #84bc22;
  }
  footer .wrapper h3:hover span.arrow-down {
    color: #84bc22;
  }
  footer .wrapper h3 span.arrow-down {
    opacity: 0.7;
  }
  footer .wrapper h3 span.arrow-down.active {
    color: #84bc22;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

footer .wrapper li {
  margin: 0.71429rem 0;
}

footer .wrapper .contact {
  width: 17%;
}

footer .wrapper .contact > span a {
  margin-top: 1.2rem;
  color: #84bc22;
  font-weight: bold;
  font-size: 1rem;
}

footer .wrapper .contact > span a:hover {
  color: #a9df4c;
}

footer .wrapper .contact h3 {
  margin-top: 2rem;
  margin-bottom: 0;
}

footer .wrapper .contact ul li {
  margin-bottom: 1.42857rem;
}

footer .wrapper .categories {
  width: 40%;
}

footer .wrapper .categories > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .wrapper .categories > div ul li a {
  opacity: 0.7;
}

footer .wrapper .categories > div ul li a:hover {
  opacity: 1;
}

footer .wrapper .about {
  width: 10%;
}

footer .wrapper .about ul li a {
  opacity: 0.7;
}

footer .wrapper .about ul li a:hover {
  opacity: 1;
}

@media (max-width: 850px) {
  footer .wrapper .social ul {
    text-align: center;
    padding-top: 1rem;
  }
}

footer .wrapper .social ul li {
  display: inline-block;
  margin: 0 0.85714rem;
}

footer .wrapper .social ul li a svg {
  color: #45413e;
  opacity: 0.5;
  font-size: 1.2rem;
}

footer .wrapper .social ul li a svg path {
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

footer .wrapper .social ul li a svg:hover path {
  color: #84bc22;
}
/*# sourceMappingURL=pdp.css.map */