section.feat-prod {
    background-color: #262a32;

    .wrapper {
        padding-top: to-rem(35px);
        padding-bottom: to-rem(64px);

        h2 {
            font-size: to-rem(40px);
            color: #fff;
            font-weight: bold;
        }

        p {
            font-size: to-rem(18px);
            color: #fff;
            font-weight: normal;
        }

        div.slider-arrows {
            div.arrows {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 50%;
                margin: 0 auto;
                padding: to-rem(35px);

                * {
                    margin: 0 0.3rem;
                    color: #fff;
                }

                button {
                    background-color: lighten(#262a32, 8%);
                    font-size: 1rem;
                    border: none;
                    padding: to-rem(6px);
                    cursor: pointer;

                    &:hover {
                        background-color: lighten(#262a32, 15%);
                    }
                }

                div {
                    width: 45%;
                    height: 2px;
                    background-color: #fff;
                }

                p {
                    font-size: 1.4rem;
                    font-weight: bold;
                    font-style: italic;
                    letter-spacing: 2.5px;
                }
            }
        }

        .items {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -1%;

            .item {
                width: 25% - 2 * 1%;
                margin: 1%;
                padding-bottom: 1.5rem;
                background-color: #fff;
                border-radius: $radius + 2px;
                text-align: center;

                .img {
                    height: to-rem(260px);
                    border-radius: $radius $radius 0 0;
                }

                h4.name {
                    width: 70%;
                    font-size: to-rem(18px);
                    margin: 1rem auto;
                    color: rgb(36, 15, 61);
                    font-weight: normal;
                }

                a {
                    color: #84bc22;
                    font-weight: bold;
                    font-size: to-rem(18px);
                }
            }
        }
    }
}
